@model Wp7AzureMgmt.DashboardIssues.Models.RssIssues
@{
    ViewBag.Title = "IssueListGrid";
}
@section AddToHead{
    <!--CSS Files-->
    <link href="@Url.Content("~/Content/jqGrid/jquery-ui-1.8.7.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/ui.multiselect.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jqGrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <!--jqGrid Code - refer http://www.trirand.com/blog/jqgrid/jqgrid.html -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#issuelistgroupgrid").jqGrid({
                url: '/FeedIssue/DynamicGridData/',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Id', 'Service', 'Location', 'Status', 'Date', 'Title', 'Description'],
                colModel: [
   		            { name: 'Id', index: 'Id' },
   		            { name: 'ServiceName', index: 'ServiceName' },
   		            { name: 'LocationName', index: 'LocationName' },
   		            { name: 'IssueStatus', index: 'IssueStatus' },
   		            { name: 'IssueDate', index: 'IssueDate' },
   		            { name: 'IssueTitle', index: 'IssueTitle' },
                    { name: 'IssueDescription', index: 'IssueDescription' }
   	            ],
                pager: '#issuelistgroupgridpager',
                rowNum: 100,
                rowList: [10, 50, 100],
                sortname: 'Id',
                sortorder: "desc",
                toppager: "true",
                viewrecords: true,
                height: "100%",
                imgpath: '',
                grouping: true,
                groupingView: {
                    groupField: ['ServiceName'],
                    groupColumnShow: [false],
                    groupText: ['<b>{0} - {1} Items(s)</b>'],
                    groupCollapse: false,
                    groupOrder: ['asc'],
                    groupSummary: [true],
                    groupDataSorted: true
                },
                gridview: true,
                loadonce: true,
                caption: "Windows Azure Service Dashboard RSS Feed Issues"
            });
            jQuery("#chngroup").change(function () {
                var vl = $(this).val();
                if (vl) {
                    if (vl == "clear") {
                        jQuery("#issuelistgroupgrid").jqGrid('groupingRemove', true);
                    } else {
                        jQuery("#issuelistgroupgrid").jqGrid('groupingGroupBy', vl);
                    }
                }
            });
        });
    </script>
}
<h2>Windows Azure Service Dashboard Issues</h2>
<div>
Built on: @Model.RetrievalDate.ToShortDateString()
</div>
<p>
Group By:
<select id="chngroup">
    <option value="ServiceName">Service Name</option>
    <option value="LocationName">Location Name</option>
    <option value="IssueStatus">Status</option>
    <option value="IssueDate">Date</option>
    <option value="clear">Remove Grouping</option>
</select>
</p>
<table id="issuelistgroupgrid">
</table>
<div id="issuelistgroupgridpager" class="scroll" style="text-align: center;">
</div>

