@model string

@{
    ViewBag.Title = "Index";
}

<h2>Feeds Datasource</h2>
Creation: '@ViewData["Feeds-CreationTime"]'<br />
Creation: '@ViewData["Feeds-FullName"]'<br />
Creation: '@ViewData["Feeds-LastWriteTime"]'<br />
Creation: '@ViewData["Feeds-Length"]'<br />

<h2>Issues Datasource</h2>
Creation: '@ViewData["Issues-CreationTime"]'<br />
Creation: '@ViewData["Issues-FullName"]'<br />
Creation: '@ViewData["Issues-LastWriteTime"]'<br />
Creation: '@ViewData["Issues-Length"]'<br />
