@model string

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
FileExists =    '@ViewData["DataFileExists"]'<br />
<p>
FullName =      '@ViewData["FullName"]'<br /> 
CreationTime =  '@ViewData["CreationTime"]'<br /> 
LastWriteTime = '@ViewData["LastWriteTime"]'<br /> 
Length =        '@ViewData["Length"]'<br /> 
</p>
HideExceptions = '@ViewData["HideExceptions"]'</br>