@{
    ViewBag.Title = "HighChart";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/jqGrid/jquery-ui-1.8.7.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/ui.multiselect.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jqGrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/graph/Highcharts-2.2.5/js/highcharts.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/graph/Highcharts-2.2.5/js/modules/exporting.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/dfb/dfb-issues.js")" type="text/javascript" ></script>

}
<form id='filter' action="">
    <select id="ctlFilter1" >
        <option value="Service" >Service</option>
        <option value="Location" >Location</option>
        <option value="Status" >Status</option>
    </select>
    
    <select id="ctlFilter2">
        <option value="3">3 day</option>
        <option value="7" >7 days</option>
        <option value="14">14 days</option>
        <option value="30">30 days</option>
    </select>
    <input id="form-submit" type="submit" value="Submit" />    
</form>
<!--
<div id="dfbHtmlChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<p></p>
-->
<table id="dfbHtmlTable" />
<div id="dfbHtmlTablePager" class="scroll" style="text-align: center;" />

