@helper ActionImage(string action, object routeValues, string imagePath, string alt) { 
    <a href="@Url.Action(action, routeValues)"> 
        <img src="@Url.Content(imagePath)" alt="@alt" style="border: inherit" > 
    </a> 
} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Azure Dashboard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <meta name="viewport" content="width=device-width" />
    @if (IsSectionDefined("AddToHead"))
    { 
        @RenderSection("AddToHead", false) 
    }
</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Dashboard", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@ActionImage("RSS", "Issues", "../../Content/images/Rss_New.png", "")</li>
                            <li>@Html.ActionLink("Issues", "Show", "Issues")</li>
                            <li>@Html.ActionLink("Feeds", "Show", "Feeds")</li>
                            <li>@Html.ActionLink("OPML", "Download", "Feeds")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="mailto:dina@berryintl.com">email</a> <a href="http://twitter.com/dfberry" class="twitter">dfberry on Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>
</html>
